<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои заказы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
    >
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="container" style="min-height: 100vh">

<h1>Мои заказы</h1>

<!-- Проверка наличия заказов -->
<div th:if="${not #lists.isEmpty(orders)}">
    <!-- Вывод информации о каждом заказе -->
    <div th:each="order : ${orders}">
        <div>
            <h2>Заказ №<span th:text="${order.getId()}"></span></h2>
            <p>Дата заказа: <span th:text="${order.getOrderDate()}"></span></p>
            <p>Дата доставки: <span th:text="${order.getDeliveryDate()}"></span></p>
            <p>Статус: <span th:text="${order.getStatus().getStatus()}"></span></p>
            <p>Способ оплаты: <span th:text="${order.getPaymentMethod().getMethod()}"></span></p>
            <a th:href="@{'/orders/' + ${order.getId()}}">Детали</a> <!-- Кнопка для перехода к деталям заказа -->
        </div>
        <hr>
    </div>
</div>

<!-- Сообщение, если у пользователя нет заказов -->
<div th:if="${#lists.isEmpty(orders)}">
    <p th:text="${message}"></p>
</div>

<!-- Ссылка на личный кабинет -->
<div>
    <a href="/personal">Вернуться в личный кабинет</a>
</div>
</div>
<div th:replace="general :: site-footer"></div>

<!-- Вставка скриптов Bootstrap из general.html -->
<div th:replace="general :: site-script"></div>
</body>
</html>
